@import "custom";

/*** Bootstrap Resets ***/
.row{
  overflow-x: hidden;
}

/*** SiteNav Component ***/
nav {
  // width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-right: auto;
  // margin-left: auto;

  .active {
    color: $custom-primary !important;
  }
  .navbar-toggler {
    border: none;
    svg {
      color: $custom-light;
      font-size: 2rem;
    }
  }
}
/*** Spacer Utility ***/
.spacer {
  margin-top: 4rem;
}

/*** Hero Component ***/ 
#profile-avatar {
  height: auto;
  width: 60%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: -2px 8px 0 5px $custom-secondary;
}
.btn-primary {
  border-radius: 3px;
}

/*** Skills Component ***/
.fluid-secondary-bg{
  background-color: $custom-secondary;
  .card {
    width: 80%;
    margin: auto;
  }
}
.angled-bg{
  clip-path: polygon(
    0 6vw, /* left top */
    100% 0, /* right top */ 
    100% calc(100% - 6vw), /* right bottom */
    0 100% /* left bottom */
  );
  .container{
    padding: 100px 0px;
  }
}

/*** Projects Component ***/
.project-image {
  border-radius: 6px;
}

hr {
  width:100%;
  border-bottom: 1px solid $light;
}

/*** Contact Component ***/
.angled-top{
  clip-path: polygon(
    0 0, /* left top */
    100% 6vw, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}
.send-icon{
  font-size: 25vw;
  margin: auto;
}
#mail_sent_logo{
  width: 80%;
  height: 100%;
  margin-left: 25%;
}

/*** Footer Component ***/
#footer{
  background-color: $custom-secondary;

  #footer-nav{
    font-size: 2.5rem;
    svg{
      cursor: pointer;
    }
  }  
}

// Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  // nav{

  //   max-width: 540px;
  // }
  #profile-avatar {
    width: 100%;
  }
  .card {
    width: 50%;
  }  
}

// Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {
  // nav{
  //   max-width: 720px;
  // }
  .send-icon{
    font-size: 25vw;
    width: 50%;
    margin: auto;
  }
}

// Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {
  // nav{
  //   max-width: 960px;
  // }
  .spacer {
    margin-top: 6rem;
  }
  #skills-section{
    .card {
      width: 100%;
    }
  }  
  .fluid-secondary-bg{
    .card {
      width: 100%;
      margin: auto;
    }
  }
}

// Extra large {xl} devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}